h1{
    text-font: 20px;
    text-align: center;
    color:#FF00FF;
    text-shadow: 1px 1px black;
    font: Comic Sans;
    border-style: inset;
    border-color:black;
}

h2{

    color:#FF00FF;
    text-shadow: 1px 1px black;
    border-bottom: 2px solid;
    border-color:black;
}



h3{

    color:#FF00FF;
    text-shadow: 1px 1px black;
    border-style: outset;
    border-color:black;
}

body{
    animation: mymove 0.1s infinite;
}

@keyframes mymove {
    from {background-color: red;}
    to {background-color: blue;}
}
p {
   
 text-align: center;
 animation: mymove 0.8s infinite;
}
