h1{
    text-font: 20px;
    text-align: center;
    animation: textchange 10s infinite;
    text-shadow: 1px 1px black;
    font: Comic Sans;
    border-style: inset;
    border-color:black;
}

h2{

    animation: textchange 10s infinite;
    text-shadow: 1px 1px black;
    border-bottom: 2px solid;
    border-color:black;
}

a{
    animation: textchange 10s infinite;
    text-font: 25px;
    text-shadow: 1px 1px black;

}

h3{

    animation: textchange 10s infinite;
    text-shadow: 1px 1px black;
    border-style: outset;
    border-color:black;
}

body{
    animation: backchange 10s infinite;
}

@keyframes textchange{
    0% {color: yellow;}
    100% {color: black;}
}
@keyframes backchange {
    0% {background-color: black;}
    100% {background-color: yellow;}
}
p {
   
 text-align: center;
 animation: textchange 10s infinite;
 text-shadow: 1px 1px black;
}
